 <div class="chat-item">

                        <div class="row align-items-end">

                          <div class="col-auto"><span class="avatar"

                              style="background-image: url([AVATAR_PLACEHOLDER])"></span>

                          </div>

                          <div class="col col-lg-6">

                            <div class="chat-bubble">

                              <div class="chat-bubble-title">

                                <div class="row">

                                  <div class="col chat-bubble-author notranslate">[NICKNAME_PLACEHOLDER]</div>

                                  <div class="col-auto chat-bubble-date">[DATE_PLACEHOLDER]</div>

                                </div>

                              </div>

                              <div class="chat-bubble-body">

                                <p>[REPLY_PLACEHOLDER]</p>

                              </div>

                            </div>

                          </div>

                        </div>

                      </div>