<div class="chat-item">

                        <div class="row align-items-end justify-content-end">

                          <div class="col col-lg-6">

                            <div class="chat-bubble chat-bubble-me">

                              <div class="chat-bubble-title">

                                <div class="row">

                                  <div class="col chat-bubble-author">You <span class="notranslate">([NICKNAME_PLACEHOLDER])</span>

                                  </div>

                                  <div class="col-auto chat-bubble-date notranslate">[DATE_PLACEHOLDER]</div>

                                </div>

                              </div>

                              <div class="chat-bubble-body">

                                <p>

                                  [REPLY_PLACEHOLDER]

                                </p>

                              </div>

                            </div>

                          </div>

                          <div class="col-auto"><span class="avatar"

                              style="background-image: url([AVATAR_PLACEHOLDER])"></span>

                          </div>

                        </div>

                      </div>